  <!-- Navbar -->
  <div class="nav-div">
    <nav>
      <div class="left">
        <h4 class="go">GoWheels</h4>
      </div>
      <div class="right">
        <button class="nav-button"><strong>Become a Host</strong></button>
        <a class="nav-a log" href="/login">Login/Signup</a>
        <a class="nav-a h" href="#">Help</a>
        <a class="nav-a c" href="#">Contact </a>
      </div>
    </nav>
  </div>
  
  <br><br>