<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myOrders</title>
    <link rel="stylesheet" href="myorders.css">
</head>
<body>
    <div class="main">
        <div class="nav-div">
        
            <div class="nav-left">
              <h4 class="go">GoWheels</h4>
            </div>
            <div class="nav-right">
              <button class="nav-button"><strong>Become a Host</strong></button>
              <a class="nav-a log" href="#">Login/Signup</a>
              <a class="nav-a h" href="#">Help</a>
              <a class="nav-a c" href="#">Contact </a>
            </div>
          
        </div>
        <div class="my-orders">
            <h2>My Orders</h2>
          <div class="car-item">
              <div class="car-image">
                <img src="https://c4.wallpaperflare.com/wallpaper/66/25/239/machine-grey-background-volvo-wallpaper-preview.jpg" alt="Car 1">
              </div>
              <div class="car-details">
                <div class="top-details">
                  <p>
                    Order id : f23487dfcsagf 
                    <br> <br>
                    Car name : Lambergini
                  </p>
                </div>
                <div class="mid-details">
                  <div class="mid-left">
                    <p>
                      Pick-up Date <br>
                      16/10/2023
                    </p>
                    <br>
                    
                    <p>
                      Pick-up Time <br>
                      11:30
                    </p>
                  </div>
                  <div class="mid-right">
                      <p>
                        Drop Date <br>
                        17/10/2023
                      </p>
                      <br>
                  
                      <p>
                        Drop Time <br>
                        10:30
                  </div>
                  
                </div>
                <div class="bottom-details">
                  <p>Price : $150</p>               
                </div>
              </div>
          </div>
          <div class="car-item">
            <div class="car-image">
              <img src="https://c4.wallpaperflare.com/wallpaper/66/25/239/machine-grey-background-volvo-wallpaper-preview.jpg" alt="Car 1">
            </div>
            <div class="car-details">
              <div class="top-details">
                <p>
                  Order id : f23487dfcsagf 
                  <br> <br>
                  Car name : Lambergini
                </p>
              </div>
              <div class="mid-details">
                <div class="mid-left">
                  <p>
                    Pick-up Date <br>
                    16/10/2023
                  </p>
                  <br>
                  
                  <p>
                    Pick-up Time <br>
                    11:30
                  </p>
                </div>
                <div class="mid-right">
                    <p>
                      Drop Date <br>
                      17/10/2023
                    </p>
                    <br>
                
                    <p>
                      Drop Time <br>
                      10:30
                </div>
                
              </div>
              <div class="bottom-details">
                <p>Price : $150</p>               
              </div>
            </div>
          </div>
          <div class="car-item">
            <div class="car-image">
              <img src="https://c4.wallpaperflare.com/wallpaper/66/25/239/machine-grey-background-volvo-wallpaper-preview.jpg" alt="Car 1">
            </div>
            <div class="car-details">
              <div class="top-details">
                <p>
                  Order id : f23487dfcsagf 
                  <br> <br>
                  Car name : Lambergini
                </p>
              </div>
              <div class="mid-details">
                <div class="mid-left">
                  <p>
                    Pick-up Date <br>
                    16/10/2023
                  </p>
                  <br>
                  
                  <p>
                    Pick-up Time <br>
                    11:30
                  </p>
                </div>
                <div class="mid-right">
                    <p>
                      Drop Date <br>
                      17/10/2023
                    </p>
                    <br>
                
                    <p>
                      Drop Time <br>
                      10:30
                </div>
                
              </div>
              <div class="bottom-details">
                <p>Price : $150</p>               
              </div>
            </div>
          </div>
            
           
              </div>
        
    </div>
</body>
</html>